<a href="https://colab.research.google.com/github/ryanmaullon/Numerical-Methods-58012/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [1]:
print(10>9)
print(9>10)
print(10==9)

True
False
False

In [2]:
a = 10
b = 9
print(a>b)
print(b>a)
print(a==b)

True
False

##Bool () Function

In [9]:
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(""))
print(bool("a"))
print(bool())

True
False
False
False
True
False

##Functions can return Boolean

In [15]:
def my_function():
  return False
print(my_function())

if my_function == True:
  print("Yes!")
else:
  print("No!")

False
No!

##Application 1

In [17]:
print(10>9)
a= 6
b= 7
print(a==b)
print(a!=a)

True
False
False

##Python Operators

In [22]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10//3)
print(10%3)
print(10**2)

15
5
3.3333333333333335
50
3
1
100

##Bitwise Operators

In [34]:
a = 60
b = 13
print (a&b)
print(a|b)
print(a^b)

12
61
49

##Assignment Operators

In [35]:
a += 3
print (a)

63

##Logical Operators

In [30]:
x = True
y = False
print(x and y)
print(x or y)
print(not(x and y))

False
True
True

##Identity Operators

In [33]:
x is y
x is x

print(x is not y)

True